body {
    background-image: url("https://image.freepik.com/free-photo/slice-delicious-pizza-with-ingredients-textured-wooden-background_23-2147926094.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    color: white;
}


h1 {
    font-size: xx-large;
    color: orangered;
    text-align: center;
    margin-top: 50px;
}

h3 {
    font-size: large;
    color: orangered;
    text-align: center;
    margin-top: 10px;
}

p {
    text-align: center;
    color: wheat;
    margin-top: 100px;

}

ul {
    text-align: match-parent;
    color: wheat;
    margin-left: 200px;
    list-style: none;
}

li {
    text-align: start;
    margin: initial;
    position: relative;
    list-style-position: inside;
}

.toppings {
    margin-right: 5px;
}

.size {
    margin-right: 220px;
}

.sidenavorder {
    margin-top: 10px;
    text-align: center;
}
